.mail-btn button {
    border: none;
    background-color: #ffffff;
}
.focus-btn {
    color: #EC0B0B;
}
.non-focus-btn {
    color: #000000;
}
.m-icon {
    width: 50px;
    height: 50px;
}
.selected-recipient {
    background-color: #ec0b0b21;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
}
.unreadRow {
    font-weight: bold;
}
.receiver-time {
    color:#000000;
    text-decoration: none;
}

/* SendCancelModal.js */
.modal-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal-box{
    padding:20px;
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 10px;
}