.mail-btn {
    display: flex;
}
.mail-btn button {
    border: none;
    background-color: #ffffff;
    align-items: center;
}
.focus-btn {
    color: #EC0B0B;
}
.non-focus-btn {
    color: #000000;
}
.m-icon {
    width: 50px;
    height: 50px;
}
.selected-recipient {
    background-color: #efefef;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
}
.unreadRow {
    font-weight: bold;
}
.receiver-time {
    color:#000000;
    text-decoration: none;
}
.disable-btn {
    width: 90px;          /* 버튼 넓이*/
    height: 38px;         /* 버튼 높이*/
    border-radius: 5px;   /* 버튼 둥글기*/
    border: none;
    background-color: #ddd;
    color: #000;
}
.mail-cursor {
    cursor: pointer;
}
.mail-tr td {
    padding:15px;
    text-align:center;
}
.ellipsis {
    width: 600px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* SendCancelModal.js */
.modal-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal-box{
    padding:20px;
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 10px;
}

/* MailContent.js */
.mail-title {
    margin-bottom:5px;
}
.send-time {
    color: #a1a1a1;
    font-size:18px;
}
.r-color {
    margin-top:10px;
}
.r-color span {
    font-size:18px;
}
.r-color span:first-child {
    color:#EC0B0B;
    margin-right:20px;
}

/* SearchBarValue.js */
.search-condition {
    width:150px;
}
.mail-search {
    margin-right:15px;
}