/* ResourceDetailModal */
.modal-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal-box{
    padding:20px;
    background-color: white;
    width: 450px;
    height:auto;
    border-radius: 10px;
}

/* RscRegistModal.js */
.rsc-form {
    width:100%;
}
.rsc-form label {
    width:30%;
    margin:10px 0;
}
.rsc-form input {
    border:none;
}
.rsc-radio, .rsc-form textarea {
    display: inline-block;
    width:70%;
}
.rsc-radio label {
    margin:10px 10px;
}