.selectStatus{
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(1, 41, 112, 0.2);
    width: 60px;
    height: 37px;
    margin-left: 20px;
    margin-right: 10px;
}
.movebtn{
    margin-left: auto;
}
.appCategory .card-body{
    width: 250px;
    height: 75px;

}
  