.selectStatus{
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(1, 41, 112, 0.2);
    width: 60px;
    height: 37px;
    margin-left: 20px;
    margin-right: 10px;
}
.movebtn{
    margin-left: auto;
}
.appCategory .card-body{
    width: 250px;
    height: 75px;
}

.appTable{
    margin-bottom: 20px;
    width: 100%;
    border: solid 0.5px #999797;
}
.appTable label{
    margin-left: 5px;
    margin-bottom: 0px;
}
.appTable td{
    text-align: left;
    border: solid 0.5px #999797;
    background-color: #fffcfc;
}
.appTable th {
    text-align: center;
    border: solid 0.5px #999797;
    background-color: #f5f5f5;
}
.appBtn {
    width: fit-content;
    margin-top: 20px;
    margin-left: auto;
}

.lineBtn{
    font-size: 12px;
    text-align: center;
    margin-left: 7px;
    margin-bottom: 10px;
    width: 40px;
    height: 20px;
    border-radius: 3px;   /* 버튼 둥글기*/
    background-color: #EC0B0B;
    color: white;
    /* border: solid 1px black; */
    border: none;
}

.formSelect{
    border: none;
    background-color: #fffcfc;
    width: 100%;
}
.appTitle{
    border: none;
    width: 100%;
    background-color: #fffcfc;
}